<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Reservas</title>
  </head>
  <body>
    <header>
    </header>
    <nav>
      <h1>Reservas</h1>
    </nav>
    <main>
      <div class="contenedor_opciones">
        <div class="opcion">
          <button class="btn" id="crear">Crear reserva</button>
        </div>
        <div class="opcion">
          <button class="btn" id="buscarID">Buscar reserva</button>
        </div>
        <div class="opcion">
          <button class="btn" id="editar">Editar reserva</button>
        </div>
        <div class="opcion">
          <button class="btn" id="eliminar">Eliminar reserva</button>
        </div>
        <div class="opcion">
          <button class="btn" id="getAll">Ver reservas</button>
        </div>
        <div class="opcion">
          <button class="btn" id="reports">Generar reportes</button>
        </div>
      </div>
    </main>
    <footer>
       <p>&#169; Reservas   ||  contacto: +56 9 1111 1111  ||  reservas@email.com</p>
    </footer>
  </body>
</html>
