<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Reservas</title>
  </head>
  <body>
    <header>
    </header>
    <nav>
      <h1>Reservas</h1>
    </nav>
    <main>
      <div class="contenedor_reportes">
        <div class="opcion">
          <button class="btn2" id="ByHotel">Reservas por Hotel</button>
        </div>
        <div class="opcion">
          <button class="btn2" id="byFecha">Reservas por Fechas</button>
        </div>
        <div class="opcion">
          <button class="btn2" id="byTipo">Reservas por Tipo de Habitación</button>
        </div>
        <div class="opcion">
          <button class="btn2" id="byEstado">Reservas por Estado</button>
        </div>
        <div class="opcion">
          <button class="btn2" id="byPax">Reservas por Número de Pax</button>
        </div>
        <div class="opcion">
          <button class="btn2" id="back">Volver al menú anterior</button>
        </div>
      </div>
    </main>
    <footer>
      <p>&#169; Reservas   ||  contacto: +56 9 1111 1111  ||  reservas@email.com</p>
   </footer>
  </body>
</html>
